{% extends "core/base.html" %}

{% block title %}Crear Post{% endblock %}

{% block content %}

<h1>Crear nuevo Post</h1>

<form method="POST" class="formulario">
    {% csrf_token %}

    <div class="campo">
        <label>Título</label>
        {{ form.titulo }}
        {{ form.titulo.errors }}
    </div>

    <div class="campo">
        <label>Contenido</label>
        {{ form.contenido }}
        {{ form.contenido.errors }}
    </div>

    <button type="submit" class="btn">Publicar</button>
</form>

{% endblock %}